<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinoXP</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
<!-- placeholder for når headeren bliver loadet -->
<div id="header-placeholder"></div>
<div id="cookie-placeholder"></div>
<div id="app" class="background">
    <div class="frontpage-info">
        <h1 class="movie-title"></h1>
        <p class="premier-date"></p>
    </div>
    <div class="container">
        <div class="header-container">
            <label for="date-picker">Valgt Dato: ${date}</label>
            <div id="calendar-container" style="display: none; margin-top: 0;">
                <input type="date" id="date-picker">
                <button id="close-calendar">Luk</button>
            </div>
            <button id="calendarButton">📅</button>
            <select id="genre-filter">
                <option value="all">Alle Genre</option>
            </select>
        </div>
        <div class="movie-list" id="movie-list"></div>
    </div>
</div>

<div id="footer-placeholder"></div>
<script>
    $(document).ready(function () {
        let movies = [];
        let selectedDate = null;

        $('#header-placeholder').load('/fragments/header');
        $('#cookie-placeholder').load('/fragments/cookies');
        $('#footer-placeholder').load('/fragments/footer');

        const weekdayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];
        const today = new Date();
        const todayWeekday = weekdayNames[today.getDay()];

        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const yyyy = today.getFullYear();
        selectedDate = `${dd}/${mm}/${yyyy}`;
        updateDateLabel(selectedDate);

        $.getJSON("/movies.json?v=" + new Date().getTime(), function (movieData) {
            const upcomingMovies = movieData.upcomingMovies;
            if (upcomingMovies.length > 0) {
                const firstUpcomingMovie = upcomingMovies[0];
                const frontPageImage = firstUpcomingMovie["front-page-image"];
                const title = firstUpcomingMovie.title;
                const premierDate = firstUpcomingMovie.premierDate;

                $('.background').css('background-image', `url(${frontPageImage}), url('/rodegardiner.JPG')`);
                $('.movie-title').text(title);
                $('.premier-date').text(`Premiere: ${premierDate}`);
            }

            movies = movieData.runningMovies;

            const uniqueGenres = [...new Set(movies.flatMap(movie => movie.genre.split(', ').map(g => g.trim())))];
            uniqueGenres.sort((a, b) => a.localeCompare(b));
            uniqueGenres.forEach(genre => {
                $('#genre-filter').append(new Option(genre, genre));
            });

            loadMovieList(movies, todayWeekday);

            $('#genre-filter').change(function () {
                const selectedGenre = $(this).val();
                const filteredMovies = selectedGenre === 'all'
                    ? movies
                    : movies.filter(movie => movie.genre.split(', ').includes(selectedGenre));

                loadMovieList(filteredMovies, todayWeekday);

                setTimeout(() => {
                    window.scrollTo({
                        top: 400,
                        behavior: 'smooth'
                    });
                }, 100);
            });
        });

        $('#calendarButton').click(function() {
            $('#calendar-container').toggle();
        });

        $('#date-picker').on('change', function() {
            const date = new Date($(this).val());
            const dd = String(date.getDate()).padStart(2, '0');
            const mm = String(date.getMonth() + 1).padStart(2, '0');
            const yyyy = date.getFullYear();
            selectedDate = `${dd}/${mm}/${yyyy}`;
            updateDateLabel(selectedDate);

            const selectedWeekday = weekdayNames[date.getDay()];
            loadMovieList(movies, selectedWeekday);

            $('#calendar-container').hide();
            window.scrollTo({ top: 300, behavior: 'smooth' });
        });

        $(document).on('click', function(event) {
            if (!$(event.target).closest('#calendar-container, #calendarButton').length) {
                $('#calendar-container').hide();
            }
        });

        $('#close-calendar').click(function() {
            $('#calendar-container').hide();
        });

        function updateDateLabel(date) {
            $('label[for="date-picker"]').text(`Valgt Dato: ${date}`);
        }

        function seatPickerRedirect(movieTitle, showtime, hall, date = null) {
            if (!date && selectedDate) {
                date = selectedDate;
            } else if (!date) {
                const today = new Date();
                const dd = String(today.getDate()).padStart(2, '0');
                const mm = String(today.getMonth() + 1).padStart(2, '0');
                const yyyy = today.getFullYear();
                date = `${dd}/${mm}/${yyyy}`;
            }

            sessionStorage.setItem('movieTitle', movieTitle);
            sessionStorage.setItem('showtime', showtime);
            sessionStorage.setItem('date', date);
            sessionStorage.setItem('hall', hall);

            window.location.href = hall === 1 ? '/SeatPickerSmall' : '/SeatPickerBig';
        }

        function loadMovieList(movies, todayWeekday) {
            $('#movie-list').empty();
            $('.container h1').show();
            $('#genre-filter').show();
            window.scrollTo({ top: 300, behavior: 'smooth' });

            movies.forEach(movie => {
                const movieContainer = $('<div>').addClass('movie-container');
                const poster = $('<img>').attr('src', movie.poster).attr('alt', movie.title).addClass('poster');
                const titleContainer = $('<div>').addClass('title-container');
                const title = $('<h2>').text(movie.title);
                titleContainer.append(title);

                const showtimesDiv = $('<div>').addClass('showtimes');
                const todayShowtimes = movie.weekday[todayWeekday]?.showtimes || [];

                todayShowtimes.forEach(time => {
                    const timeSpan = $('<span>').text(time.showtime).addClass('showtime-link');
                    timeSpan.click(function() {
                        seatPickerRedirect(movie.title, time.showtime, time.hall, selectedDate);
                    });
                    showtimesDiv.append(timeSpan);
                });

                movieContainer.append(poster).append(titleContainer).append(showtimesDiv);
                $('#movie-list').append(movieContainer);

                title.click(function () {
                    loadMovieDetails(movie, todayWeekday);
                });
                poster.click(function () {
                    loadMovieDetails(movie, todayWeekday);
                });
            });
        }

        function loadMovieDetails(movie, todayWeekday) {
            const weekdayNames = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];
            const ugedage = ['søndag', 'mandag', 'tirsdag', 'onsdag', 'torsdag', 'fredag', 'lørdag'];
            const todayIndex = weekdayNames.indexOf(todayWeekday);

            $('.container h1').hide();
            $('#genre-filter').hide();
            $('#genre-filter').val('all');
            window.scrollTo({ top: 300, behavior: 'smooth' });

            let showtimesHtml = '<div class="weekdays-container">';
            for (let i = 0; i < 7; i++) {
                const currentDayIndex = (todayIndex + i) % 7;
                const currentDayKey = weekdayNames[currentDayIndex];
                const currentDayName = (i === 0) ? 'I dag' : ugedage[currentDayIndex];
                const showtimes = movie.weekday[currentDayKey]?.showtimes || [];

                if (showtimes.length > 0) {
                    showtimesHtml += `<div class="weekday-column"><h4>${currentDayName}</h4><ul>`;
                    showtimesHtml += showtimes.map(time => `<li class="showtime-link" data-showtime="${time.showtime}" data-hall="${time.hall}">${time.showtime}</li>`).join('');
                    showtimesHtml += '</ul></div>';
                }
            }
            showtimesHtml += '</div>';

            let youtubeEmbed = '';
            if (movie.youtubeTrailer) {
                youtubeEmbed = `
        <div class="trailer-container">
            <iframe width="750" height="515"
                src="https://www.youtube.com/embed/${movie.youtubeTrailer}"
                title="YouTube Video Player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>`;
            }

            $('#movie-list').html(`
        <div class="movie-details">
        <h2>${movie.title}</h2>
        ${youtubeEmbed}
            <div class="movie-info-container">
                <div class="movie-poster">
                    <img src="${movie.poster}" alt="${movie.title}" class="poster">
                </div>
                <div class="movie-description">
                    ${movie.description}
                    <p><strong>Skuespillere: </strong>${movie.actors.join(', ')}</p>
                    <p><strong>Instruktør: </strong>${movie.director}</p>
                    <p><strong>Genre: </strong>${movie.genre}</p>
                    <p><strong>Varighed: </strong>${movie.playtime}</p>
                    <p><strong>Aldersgrænse: </strong>${movie.age}</p>
                </div>
            </div>
            ${showtimesHtml}
            <button id="backToList">Back to Movie List</button>
        </div>
    `);

            $('.showtime-link').click(function() {
                const showtime = $(this).data('showtime');
                const hall = $(this).data('hall');
                seatPickerRedirect(movie.title, showtime, hall, selectedDate);
            });

            $('#backToList').click(function () {
                window.scrollTo({ top: 0, behavior: 'smooth' });
                loadMovieList(movies, todayWeekday);
            });
        }

    });
</script>
</body>
</html>